:root {
  color-scheme: light;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 250, 240;
  --background-end-rgb: 255, 250, 240;

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --button-idle: 0, 0, 0;
  --button-active: 169, 216, 245;
  --color-gray: 131, 131, 131;
  --color-link: 66, 136, 195;
  --color-error: 239 87 87;

  --color-reorder: #ac14c2;

  --color-input-bg: 255, 255, 255;
  --color-input-border: 0, 0, 0;
}

:root[data-theme="dark"] {
  color-scheme: dark;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 23, 25, 35;
  --background-end-rgb: 23, 25, 45;

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  --color-link: 15, 130, 175;

  --color-input-bg: 26, 26, 26;
  --color-input-border: 111 111 111;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: background-color 0.25s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-family: inherit;
}

h1,
h2 {
  color: rgba(var(--foreground-rgb));
  font-family: var(--font-jetBrains);
}

p {
  margin: 1rem 0;
}

input,
select,
option {
  font-family: inherit;
}

a {
  color: rgba(var(--color-link));
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

input,
textarea {
  background-color: rgba(var(--color-input-bg));
  border: 1px solid rgba(var(--color-input-border));
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 70px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}
