.modal {
  padding: 2rem;
  overflow: hidden;
  background-color: rgba(var(--background-start-rgb));
  color: rgba(var(--foreground-rgb));
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.textarea {
  border: 1px solid rgba(var(--foreground-rgb));
  font-size: inherit;
  width: 100%;
  height: 20rem;
  padding: 0.25rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
