.footer {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid rgba(var(--foreground-rgb));
  z-index: 1;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    margin: 0 1.75rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .footer {
    max-width: 32rem;
    padding: 0 2rem;
  }
}
