.item {
  position: relative;
  white-space: pre-line;
  margin-bottom: 1rem;
  width: calc(100% - 0.5rem);
}

.item:before {
  content: ".";
  position: absolute;
  top: -10px;
  left: -1.5rem;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-reorder);
  text-shadow: 0 5px var(--color-reorder), 0 10px var(--color-reorder),
    5px 0 var(--color-reorder), 5px 5px var(--color-reorder),
    5px 10px var(--color-reorder);
}

.item:hover {
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.img {
  width: calc(100% - 2rem);
  pointer-events: none;
}

.delete {
  position: absolute;
  top: 0;
  right: -1rem;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
