.div {
  position: relative;
  height: 80px;
}

.spotify {
  height: 80px;
}

.iframe {
  border: none;
  border-radius: 1rem;
  height: 80px;
}

.skeleton {
  position: absolute;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  border: 1px solid rgba(var(--foreground-rgb));
  background-color: rgba(var(--foreground-rgb));
  /* The shine that's going to move across the skeleton: */
  background-image: linear-gradient(
    30deg,
    rgba(#fff, 0),
    rgba(#fff, 0.4),
    rgba(#fff, 0)
  );
  background-size: 60px 100%;
  background-repeat: no-repeat;
  background-position: left -60px top 0;
  animation: shine 1.5s ease infinite;
}

@keyframes shine {
  to {
    background-position: right -60px top 0;
  }
}
