.button {
  padding: 0.4rem 0.75rem;
  background-color: transparent;
  border: 1px solid rgba(var(--foreground-rgb));
  cursor: pointer;
  font-size: 0.8rem;
  color: rgba(var(--foreground-rgb));
  font-weight: 400;
}

.button:hover {
  text-decoration: none;
}

.active {
  background-color: rgba(var(--button-active));
  color: rgba(var(--button-idle));
}
