.modal {
  padding: 1rem;
  overflow: hidden;
  background-color: rgba(var(--background-start-rgb));
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.label {
  margin-top: 1rem;
}

.textarea {
  border: 1px solid rgba(var(--foreground-rgb));
  font-size: inherit;
  width: 20rem;
  height: 20rem;
  padding: 0.25rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .textarea {
    width: 18rem;
    height: 20rem;
  }
}
